
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
<br>

<div>

        <div >
          <h3>EDITOR</h3>
          <form action="" >
            userId:<br>
            <input type="text" name="userId" >
            <br>
            title:<br>
            <input type="text" name="title" >
            <br>
            completed:<br>
            <input type="text" name="completed"  >
            <br><br>
            <input type="button" value="Submit" >
          </form> 
        </div>

    
</div>
