
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">

  <div >

    <div >
      
      <h3>Dive in</h3>
      <form action="" method="POST">
        userId:<br>
        <input type="text" name="userId" value="1">
        <br>
        title:<br>
        <input type="text" name="title" >
        <br>
        completed:<br>
        <input type="text" name="completed" value="false" >
        <br><br>
        <input type="submit" value="Submit">
      </form> 
    </div>


</div>





